<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>HOME</title>
</head>
<body>
	<h1>홈에 오신걸 환영합니다!</h1>
	
	<!-- 로그아웃 된 상황  -->
	<div sec:authorize="!isAuthenticated()">
		<a th:href="@{/login}">LOGIN</a>
	</div>
	
	<!-- 로그인 된 상황 -->
	<div sec:authorize="isAuthenticated()">
		<h2>환영합니다, <span sec:authentication="name"></span>!!!</h2>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="LOGOUT">
		</form>
	</div>
</body>
</html>